{
  "branches": [
    {
        name: 'release/1.0.x',
        channel: 'release/1.0.x'
    },
    'main'
  ],
  "debug": "true",
  "plugins": [
      ["@semantic-release/commit-analyzer",{
           "preset": "eslint",
           "config": "conventional-changelog-eslint",
           "releaseRules": [
               {
                 "tag": "Breaking",
                 "release": "minor"
               },
               {"tag": "New", "release": "patch"},
               {"tag": "Update", "release": "patch"},
           ],
       }],
      "@semantic-release/release-notes-generator",
      "@semantic-release/npm",
      ["@semantic-release/github", {
        "assets": ["dist/**"]
      }],
  ]
}