{
  "branches": [
    {
        name: 'release/0.0.x',
        range: 'release/0.0.x',
        channel: 'release/0.0.x'
    },
    'main'
  ],
  "repositoryUrl": "https://github.com/cheqd/did-provider-cheqd.git",
  "debug": true
}