{
  "branches": [
    {
        name: 'release/1.0.x',

        channel: 'release/1.0.x'
    },
    'main'
  ],
  "repositoryUrl": "https://github.com/cheqd/did-provider-cheqd.git",
  "debug": true,
  "plugins": [
    ["@semantic-release/github", {
      "assets": ["dist/**"]
      }],
    ["@semantic-release/commit-analyzer", {
        "releaseRules": [
            { "breaking": true, "release": "minor" },
            {
              "tag": "Breaking",
              "release": "minor"
            },
            {
              "tag": "breaking",
              "release": "minor"
            },
            {"type": "feat", "release": "patch"},
            {"type": "fix", "release": "patch"},
        ]
     }]
  ]
}